# Formspree Endpoint (for Contact Form submissions -> https://formspree.io)
# By default, uses Anveshan's endpoint: https://formspree.io/f/mrpbjjak
FORMSPREE_ENDPOINT=https://formspree.io/f/mrpbjjak

# Optional: MongoDB Database Connection URL (if you want to persist a backup in MongoDB)
DATABASE_URL=

# Google Analytics (Optional)
GOOGLE_ANALYTICS_MEASUREMENT_ID=
